.sidebar{
    position: fixed;
    left: 0%;
    right: 0%;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

.menu{
    /* position: relative; */
    width: 50%;
    display: flex;
    justify-content: end;
}
.menu img{
    height: 30%;
    width: 20%;
    z-index: 1;
} 
.image-menu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
}
.left-logo{
    width: 50%;
}
.side{
    position: absolute;
    background: transparent;
    left: 40%;
    top: 0%;
    right: 0%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(6rem);
}
.side ul{
    height: 60%;
    /* border: 1px solid red; */
    display: flex;   
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    font-family: "Bellefair", serif;
}
.side li{
    list-style: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffff;
}

.side li span{
    padding-right: 10px;
}


/* Media Query for Large screens & Tablet */
@media (min-width: 768px) {
    
    .sidebar{
        display: none;
    }
}
